# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
#number of observations
df.shape[0]

4622

In [6]:
#show info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
df.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
print(list(df.columns))

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [9]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
most_ordered = df.groupby('item_name')['quantity'].sum().sort_values()
most_ordered.head(1)

item_name
Carnitas Salad    1
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [15]:
total_quantity = df.groupby('item_name')['quantity'].sum().max()
total_quantity

761

### Step 11. What was the most ordered item in the choice_description column?

In [16]:
most_ordered = df.groupby('choice_description')['quantity'].sum().sort_values()
most_ordered.head(1)

choice_description
[Roasted Chili Corn Salsa, [Rice, Pinto Beans, Cheese, Guacamole]]    1
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [18]:
total_quantity_choice = df.groupby('choice_description')['quantity'].sum().max()
total_quantity_choice

159

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [25]:
df['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [26]:
df['item_price'] = df['item_price'].apply(lambda x: float(x.replace('$','')))

#### Step 13.c. Check the item price type

In [27]:
df['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [29]:
revenue  = (df['item_price']*df['quantity']).sum
print(revenue)

<bound method Series.sum of 0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64>

### Step 15. How many orders were made in the period?

In [30]:
total_orders = df['order_id'].nunique()
print(total_orders)

1834

### Step 16. What is the average revenue amount per order?

In [32]:
df['revenue'] = df['item_price']*df['quantity']

In [33]:
avg_rev_perOrder = df.groupby('order_id')['revenue'].sum().mean()
print(avg_rev_perOrder)

21.39423118865867

### Step 17. How many different items are sold?

In [34]:
num_items = df['item_name'].nunique()

In [35]:
print(num_items)

50